*{
    box-sizing: border-box;
}

main{
    background-image: url(leovullings-lighthouse-9183463.jpg);
    width: 100%;
    background-size: cover;
}
img{
    width: 150px;

}

section{
   max-width: 500px;
    border-radius: 50px;
    background-color: aliceblue;
    padding: 10px;
}

span{
    width: 40px;
    background-color: #200;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
}

section:nth-child(1),
section:nth-child(3){
    background-color: #410b13;
    color: white;
}

div{
    display: grid;
    grid-template-columns: 4fr 1fr ;
    gap: 10px;
}
main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
}
@media (max-width: 1200px){
    main{
        grid-template-columns: repeat(3,1fr);
    }
    
}
@media (max-width: 600px){
    main{
        grid-template-columns: repeat(2,1fr);
    }
    div{
    display: grid;
    grid-template-columns: 2fr ;
    gap: 10px;
    text-align: center;
}
    
img{
    margin: 0 auto;
}
}

@media (max-width: 300px){
    main{
        grid-template-columns: repeat(1,1fr);
    }
     div{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
}
    
}
